.list-detail {
  .title-area {
    .title-info {
      .button-list {
        text-align: right;
        .ant-btn {
          margin-left: 10px;
        }
      }
    }
    .cont-info {
      margin: 20px 0;
      background: #f8f8f8;
      .info-t {
        margin: 10px 0 20px 0;
        font-size: 16px;
      }
    }
  }
  .blue-font {
    font-size: 20px;
    color: #3c76f9;
  }
}
